{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <section class="row home-overlay">
        <div class="col m-auto">
            <div>
                <h3 class="title-h3 mt-5">
                    Abonnement IPTV
                </h3>
                <hr>
            </div>
            <div>
                <h1 class="title-h1--bigger">Bienvenue sur LaBoutique IPTV</h1>
            </div>
            <div>
                <p class="p-primary">Le plus grand fournisseur de chaines IPTV et Films VOD francophones et
                    internationnaux sur le marché.</p>
                <p class="p-primary">LaBoutique IPTV vous permet de regarder les dernières sortie films et séries avec
                    une qualité supérieure.</p>
            </div>
            <div>
                <button class="btn btn-primary">
                    Nos offres
                </button>
            </div>
        </div>
    </section>
    <section class="row how-it-works">
        <div class="col-12">
            <div class="row mb-5">
                <div class="col-12">
                    <h1 class="title-h1">
                        Comment ça fonctionne ?
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h2 class="title-h2">Abonnement</h2>
                    <p class="p-default">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet consectetur culpa,
                        dolores,
                        earum hic id ipsa ipsam magnam maxime minus modi nihil numquam placeat, quasi recusandae
                        repellendus
                        sint voluptatem!
                    </p>
                </div>
                <hr class="d-none d-md-block">
                <div class="col-md-3">
                    <h2 class="title-h2">
                        Installation
                    </h2>
                    <p class="p-default">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet consectetur culpa,
                        dolores,
                        earum hic id ipsa ipsam magnam maxime minus modi nihil numquam placeat, quasi recusandae
                        repellendus
                        sint voluptatem!
                    </p>
                </div>
                <hr class="d-none d-md-block">
                <div class="col-md-3">
                    <h2 class="title-h2">
                        Profitez-en
                    </h2>
                    <p class="p-default">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet consectetur culpa,
                        dolores,
                        earum hic id ipsa ipsam magnam maxime minus modi nihil numquam placeat, quasi recusandae
                        repellendus
                        sint voluptatem!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="row offers">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <h1 class="title-h1 text-uppercase" id="offers">
                        Nos offres
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('build/assassins-creed-desktop-wallpaper.jpg') }}"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h1 class="card-title title-h1">1 mois</h1>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary text-uppercase">Commander</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('build/assassins-creed-desktop-wallpaper.jpg') }}"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h1 class="card-title title-h1">6 mois</h1>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary text-uppercase">Commander</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('build/assassins-creed-desktop-wallpaper.jpg') }}"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h1 class="card-title title-h1">1 an</h1>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary text-uppercase">Commander</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row services">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <h1 class="title-h1--bigger text-uppercase">
                        Nos services
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="img-wrapper m-5">
                        <img src="{{ asset('build/server-64.png') }}" alt="server image">
                    </div>
                    <h2 class="title-h2--bigger m-3">
                        Serveur puissant
                    </h2>
                    <p class="p-default">
                        Un serveur puissant et performant pour vous garantir une stabilité maximale sans coupure et sans
                        freeze
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="img-wrapper m-5">
                        <img src="{{ asset('build/service-64.png') }}" alt="assistance image">
                    </div>
                    <h2 class="title-h2--bigger m-3">
                        Assistance
                    </h2>
                    <p class="p-default">
                        Assistance 24h/24 et 7j/7. Assistance d’installation et accompagnement lors de l'activation de
                        l'abonnement IPTV.
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="img-wrapper m-5">
                        <img src="{{ asset('build/tv-show-64.png') }}" alt="assistance image">
                    </div>
                    <h2 class="title-h2--bigger m-3">
                        Installation
                    </h2>
                    <p class="p-default">
                        Vous pouvez facilement configurer et installer votre abonnement IPTV sur votre appareil
                        préféré, nous fournissons des didacticiels complets sur notre site web pour faciliter
                        ce processus pour tout le monde.
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="img-wrapper m-5">
                        <img src="{{ asset('build/euro-money-64.png') }}" alt="assistance image">
                    </div>
                    <h2 class="title-h2--bigger m-3">
                        Tarification
                    </h2>
                    <p class="p-default">
                        Nous nous efforçont à satisfaire tout nos client, raison pour la quelle nous proposant plusieurs
                        formules de tarification, le classique de 1 an, 6 mois ou encore 3 mois.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}